.addtask{
    width: 50%;
    padding: 20px 40px;
}
.addtask-btn{
    background-color: rgb(9, 76, 177);
    padding: 10px 10px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.add-task-container-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.2);
}
.add-task-container{
    transform: translate(50%, 50%);
    border-radius: 20px;
    background-color: white;
    padding: 20px 20px;
    width: 50vw;
}
.title-input{
    width: min-content;
}
.input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-container input{

}
.input-container textarea{
    width: 400px;
    height: 100px;
}
.addtask-submit-btn{

    padding: 5px 10px;
    border-radius: 5px;
    background-color: black;
    color: rgb(255, 255, 255);
    cursor:pointer;
    user-select: none;
}
.employee-box{
    position: relative;
}
.add-employee-btn{
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: black;
    color: rgb(255, 255, 255);
    cursor:pointer;
    user-select: none;
}
.employee-box{

}
.employee-modal-box{
    background-color: rgba(243, 238, 233, 0.745);
    position: absolute;
    top: 0;
    right: -150px;
}
.employee-modal-box ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 10px;
}
.employee-modal-box li{
    list-style-type: none;
    padding: 5px 5px;
    background-color: white;
    cursor: pointer;
    text-transform: capitalize;
}


